{% extends 'magasin/base.html' %}
{% block title %} Catalogue de produits {% endblock title %}
{% block content %}

<!-- body -->
<div class="container-fluid mt-3">
<div class="row">
<!-- all products -->
<div id='products' class="col-lg-9 mx-auto">
<div class="row mx-auto">
<!-- Products est une clé du dictionnaire context rendu par la vue ‘index’ -->

    {% for product in products %}
    <div class="card" style="width: 18rem;margin:20px">
        <img class="card-img-top" src="{{product.img.url}}" style="height: 200px;" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">{{product.libelle}}</h5>
          <p class="card-text">{{product.description}} </p>
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    {% endfor %}


</div>
</div>
</div>
</div>
{% endblock %}
